@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montaga', serif;;
}

html,body{
    width:100%;
    height:100%;
}

#main{
    width: 100%;
    height: 100%;

    display: flex;
}

#left{
    width: 40%;
    height: 100%;
    background-color: white;

    position: relative;
}

#lnav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
}

#lnavr{
    display: flex;
    align-items: center;
}

#lnavr a{
    margin-right: 20px;
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
    transition: transform 0.2s ease-out;
    font-size: 18px;
}
#lnavr a:hover{
    transform: scale(1.1);
}

#lnavr i{
    color:rgb(156, 16, 156);
}

.insta-logo:hover{
    transform:scale(1.5);
    cursor: pointer;   
}


#left #text-center{
    /* below 4 lines brings id to center with parent div having position relative */
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}


#text-center h1{
    font-size: 90px;
    font-weight: bolder;
}

#text-center p{
    opacity: .6;
    font-size: 12px;
    line-height: 25px;
    margin-top:20px;
    margin-bottom: 20px;
}
#text-center a{
    text-decoration: none;
    cursor:pointer;
    /* padding-left: 10px; */
    color:rgb(5, 5, 179);
    font-size:13px;
    font-weight: bolder;
    opacity: .7;
    /* to show a different kind of underline */
    border-bottom:1px solid black;
    padding-bottom: 5px;
}

#text-center a:hover{
    color:darkgreen;
    font-size:14px;
   
}

#right{
    width: 60%;
    height: 100%;
    background-color: yellow;
}

#rtop{
    width:100%;
    height: 50%;
    background-color: royalblue;

    display: flex;
}

#rbottom{
    width:100%;
    height: 50%;
    background-color: green;
    background-image: url('https://images.unsplash.com/photo-1590590470233-195e7fec2965?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: bottom;
}

#rtopleft{
    background-color: orange;
    width: 55%;
    height:100%;

    /* background image */
    background-image: url('https://images.unsplash.com/photo-1621484488308-3fc11031f2b6?auto=format&fit=crop&q=80&w=1964&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#rtopright{
    width:45%;
    height: 100%;
    background-color: aqua;
    background-image: url('https://images.unsplash.com/photo-1589984662646-e7b2e4962f18?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: right;
    
}

/* to make it responsive */
@media(max-width:500px){
    #main{
        
      flex-direction: column;  
    }

    #main #left{
        width: 100%;
    }

    #main #right{
        width: 100%;
    }
}