@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montaga', serif;;
}

html,body{
    width:100%;
    height:100%;
}

#main{
    width: 100%;
    height: 100%;

    display: flex;
}

#left{
    width: 40%;
    height: 100%;
    background-color: white;
}

#lnav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
}

#lnavr{
    
}
#right{
    width: 60%;
    height: 100%;
    background-color: yellow;
}

#rtop{
    width:100%;
    height: 50%;
    background-color: royalblue;

    display: flex;
}

#rbottom{
    width:100%;
    height: 50%;
    background-color: green;
}

#rtopleft{
    background-color: orange;
    width: 55%;
    height:100%
}

#rtopright{
    width:45%;
    height: 100%;
    background-color: aqua;
}